.about-me {
	color: black;
}

.about-me {
	text-align: center;
}

.about-me img {
	width: em;
}

.about-me .social {
	font-size: 32pt;
	margin: 0 .25em 0 .25em;
}

.about-list {
	font-size: 145%;
	text-align: left;
	width: 50%;
	margin: 0 22% 2% 20%;
}
.about-list i {
	margin-right:1em;
}

img.leankit {
	width: 48px;
	margin: 0 .25em .25em .25em;
}