.storytime {
	text-align: center;
}

.storytime .browser {
	height: 500px;
}

.storytime img {
	box-shadow: 10px 5px 5px #AC9C9C;
	height: 475px;
}

.storytime h2 {
	font-size: 32pt;
	margin-top:5%;
	color: #35aecc;
}

.storytime .item {
	font-size: 28pt;
}