.on-change-viewer img {
	width: 100%;
	box-shadow: 10px 5px 5px #AC9C9C;
	overflow: scroll;
}

.on-change-viewer .scroller {
	overflow: scroll;
	height: 450px;
	border-radius: 5px;
	border: 1pt solid dimgray;
}
