.twostates .quote {
    font-size: 150%;
    font-style: italic;
    display: block;
    position: relative;
    text-align: center;
    padding: 3%;
    line-height: 145%;
    width:80%;
    color:black;
    margin: 0 auto 0 auto;
}

.twostates .quote::after {
    content: "";
    background: url(./road.jpg);
    opacity: 0.35;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}

.twostates .quote em {
    font-weight: bold;
    text-decoration: underline;
}

.twostates .quote .cite {
    font-size: 70%;
}