html, body {
	width:1024px;
    height: 97%;
    margin: .25em auto auto auto;
    background-color: #ECF0F1;
    font-size: 20pt;
    line-height: 1.9em;
}

.fill {
	width:1024px;
    height: 100%;
    text-align: center;
}

h1 {
	font-size: 225%;
}

h2 {
	font-size: 150%;
}

ul {
    text-align: left;
    margin: 0 auto 0 auto;
}