.appeal2 .quote-dijkstra2 {
	display: block;
	position: relative;
	text-align: justify;
	font-size: .95em;
	padding: 3%;
	font-style: italic;
	line-height: 175%;
}

.appeal2 .quote-dijkstra2::after {
	content: "";
	background: url(/images/Dijkstra5.jpeg);
	opacity: 0.10;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.appeal2 .quote-dijkstra2 em {
	font-weight: bold;
}